@charset "utf-8";

:root {
  --color: hsl(0, 0%, 22%);
  --color-subtle: hsl(0, 0%, 44%);
  --color-strong: hsl(0, 0%, 11%);
  --color-border: hsl(31, 5%, 88%);
  --color-bg: hsl(31, 5%, 96%);
  --color-accent: hsl(195, 60%, 37%);
  --color-hover: hsl(270, 100%, 50%);
  --color-error: hsl(0, 100%, 40%);
  --sidebar-width: 256px;
  --sidebar-duration: calc(1s / 10);
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--color-subtle);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.sidebar .header {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}

.sidebar .navigation {
  flex: 1;
}
.app-title {
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  white-space: nowrap;
  color: var(--color-strong);
}
.app-title .primary {
  font-weight: 700;
}
.app-title .secondary {
  font-weight: 300;
}

.nav-item {
  padding: 0.15rem 0 0.3rem 0;
}
.nav-category {
  color: var(--color-accent);
  font-weight: 600;
  margin: 0.3rem 0;
  padding-left: 2rem;
  font-size: 11px;
  text-transform: uppercase;
}
.nav-icon {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 0.25rem;
}
.nav-button {
  display: block;
  width: 100%;
  padding: 0.15rem 0;
  padding-left: calc(2rem + 16px + 0.25rem);
  text-align: left;
  font: inherit;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-strong);
  border: none;
  background-color: transparent;
  cursor: default;
}
.nav-button:hover:not(.is-selected) {
  background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
}
.nav-button.is-selected {
  background-color: var(--color-accent);
  color: #fff;
}

.sidebar .footer {
  border-top: 1px solid var(--color-border);
  padding: 2em 0 0.75em;
  margin: 1.25em 0 1em 0;
  font: inherit;
  font-size: 13px;
  color: inherit;
  text-align: center;
}

.container .main {
  flex: 5;
}
